* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

h1 {
  text-align: center;
  color: #333;
}

div {
  margin-top: 20px;
}

#addStudentForm {
  padding-left: 200px;
}

#fieldset input {
  height: 40px;
  width: 200px;
  background-color: white;
  border: 2px solid green;
  text-align: center;
}

#loginbutton {
  height: 40px;
  width: 60px;
}

.flex {
  display: flex;
}

.btn-outline-success {
  width: 3em;
}

#select {
  height: fit-content;
  width: fit-content;
  border: 2px solid green;
}

.form-control {
  display: inline-block;
  width: 90%;
}

#search {
  margin-left: 786px;
  height: 30px;
}

#aa {
  width: 60px;
}

#stateButton {
  border: 2px solid green;
}